@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";

.button {
  font-family: "Avenir Next Bold";
  font-size: 0.75rem;
  line-height: 1.25rem;
  background-color: colours.$primary-cta;
  border-radius: 4px;
  border: 0px;
  color: colours.$background-color;
  padding: 1rem;
  position: relative;
  width: 100%;

  &__icon {
    position: absolute;
    left: 0.5rem;
    top: 0.85rem;
  }
}
