// Primary colours
$primary-text: #323232;
$primary-cta: #0095ff;
$secondary-text: #afafaf;
$background-color: #fff;

// Secondary colours
$video-comp: #000;
$cta-hover: #0065ad;
$divider-line: #e1e1e1;
$form-background: #fafafa;
