@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
}

body {
  font-family: "Avenir Next Regular";
}
