@use "./colours";
@use "./fonts";

// mixins for breakpoints

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  background-color: colours.$form-background;
  border-radius: 4px;
  border: 1px solid colours.$divider-line;
  &::placeholder {
    color: colours.$video-comp;
    font-family: "Avenir Next Regular";
  }
  &:focus {
    border: 2px solid colours.$primary-cta;
    outline: none;
  }
}

label {
  color: colours.$secondary-text;
  font-size: 0.85rem;
  font-family: "Avenir Next Regular";
}
