@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.next-video {
  display: flex;
  padding: 0 0 0.75rem 1rem;
  cursor: pointer;

  @include global.tablet {
    width: 40%;
  }

  &__link {
    text-decoration: none;
    color: colours.$primary-text;
  }

  &__image-container {
    padding-right: 1rem;
  }

  &__image {
    width: 6rem;
    height: 4rem;
    border-radius: 4px;

    @include global.tablet {
      width: 8rem;
      height: 5rem;
    }
  }

  &__copy-container {
    display: flex;
    flex-direction: column;

    @include global.desktop {
      padding-right: 2rem;
    }
  }

  &__copy {
    margin: 0.25rem 0;
  }
}
