@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.next-video {
  display: flex;

  &__image {
    width: 6rem;
    height: 4rem;
    border-radius: 4px;
  }
}
