@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.divider {
  height: 1px;
  background-color: colours.$divider-line;
  margin: 0 1rem;

  &--only-mobile {
    @include global.tablet {
      display: none;
    }
  }
}
