@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.divider {
  height: 1px;
  background-color: colours.$divider-line;
  margin: 0 1rem;

  @include global.desktop {
    width: 98.75%;
    height: 2px;
  }

  &--only-mobile {
    @include global.tablet {
      display: none;
    }

    @include global.desktop {
      display: none;
    }
  }

  &--only-tablet {
    display: none;

    @include global.tablet {
      display: block;
    }

    @include global.desktop {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}
