@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.comment-section {
  &__copy {
    padding: 0 1rem 1rem 1rem;
  }

  &__input-comment-container {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
  }

  &__avatar-container {
    padding: 1rem 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;

    @include global.tablet {
      flex-direction: row;
    }
  }

  &__label {
    color: colours.$secondary-text;
    font-size: 0.85rem;
  }

  &__input {
    margin: 0.35rem 0 1rem 0;
    padding: 0.75rem;
    height: 4.5rem;

    @include global.tablet {
      width: 30rem;
      height: 2.75rem;
      padding: 0.75rem;
    }
  }

  &__button-container {
    width: 100%;

    @include global.tablet {
      display: flex;
      align-items: center;
      width: 10rem;
      margin-left: 2rem;
      padding: 0;
    }
  }
}

label,
textarea {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next Regular";
}
