@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.header {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @include global.tablet {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

  &__logo {
    width: 7.5rem;
    height: 1.5rem;
    margin: auto;
    display: flex;

    @include global.tablet {
      margin: 1rem 0;
      align-self: center;
    }
  }

  &__search-profile-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;

    @include global.tablet {
      width: 30%;
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    width: 75%;

    @include global.tablet {
      width: 100%;
    }
  }

  &__search {
    display: flex;
    background-color: colours.$alabaster;
    width: 100%;
    padding-left: 1.5rem;
    height: 2.25rem;
    border-radius: 4px;
    border: 1px solid colours.$mercury;
    &::placeholder {
      color: colours.$brainflix-darkblack;
      font-family: "Avenir Next Regular";
    }
  }

  &__search-icon {
    position: absolute;
    top: 0.6rem;
    padding-left: 0.2rem;
  }

  &__button-container {
    @include global.tablet {
      width: 25%;
      align-self: center;
    }
  }
}
