@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.main-video {
  width: 100%;

  &__video-container {
    width: 100%;
    height: calc((100vw * 9) / 16);
    background-color: colours.$video-comp;
    box-sizing: border-box;
    margin: 0 0 0.8rem 0;
    padding: 0;

    @include global.tablet {
      display: flex;
      justify-content: center;
    }

    @include global.desktop {
      height: calc((70vw * 9) / 16);
      display: flex;
      justify-content: center;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    max-width: 100%;

    @include global.tablet {
      width: 100%;
    }

    @include global.desktop {
      width: 70%;
    }
  }

  &__title-container {
    padding: 1rem;

    @include global.tablet {
      padding-bottom: 0;
    }
  }

  &__title {
    @include global.tablet {
      margin: 0;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    @include global.tablet {
      justify-content: space-between;
    }
  }

  &__copy {
    padding: 0 1rem;
  }

  &__stats-copy {
    margin: 0.5rem;
    color: colours.$secondary-text;
  }

  &__channel-date {
    padding: 0.75rem 0 0.75rem 0rem;

    @include global.tablet {
      display: flex;
    }

    @include global.desktop {
      display: flex;
      padding: 0;
    }
  }

  &__channel {
    margin: 0.5rem;
    padding-bottom: 0.5rem;

    @include global.tablet {
      padding-right: 1rem;
    }

    @include global.desktop {
      padding-right: 1rem;
    }
  }

  &__views-likes {
    padding: 0.75rem 3rem 0.75rem 0rem;

    @include global.tablet {
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }

    @include global.desktop {
      display: flex;
      align-items: center;
      padding: 0 1rem 0 0;
    }
  }

  &__views-container {
    display: flex;

    @include global.tablet {
      padding-right: 1rem;
    }

    @include global.desktop {
      padding-right: 1rem;
    }
  }

  &__likes-container {
    display: flex;
  }

  &__description-container {
    padding: 1rem 1rem;
  }
}

.brainflix-content {
  @include global.desktop {
    display: flex;
    width: 100%;
  }

  &__main-video {
    @include global.desktop {
      display: flex;
      flex-direction: column;
      width: 70%;
      padding-left: 8rem;
      border-right: 2px solid colours.$divider-line;
      overflow: hidden;
    }
  }

  &__next-video {
    @include global.desktop {
      width: 35%;
      box-sizing: border-box;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
  }
}
