@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.main-video {
  width: 100%;

  &__video-container {
    width: 100vw;
    height: calc((100vw * 9) / 16);
    background-color: colours.$video-comp;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
    padding: 0;

    @include global.tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    max-width: 100%;

    @include global.tablet {
      width: 100%;
    }
  }

  &__title-container {
    padding: 1rem;

    @include global.tablet {
      padding-bottom: 0;
    }
  }

  &__title {
    @include global.tablet {
      margin: 0;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    @include global.tablet {
      justify-content: space-between;
    }
  }

  &__copy {
    padding: 0 1rem;
  }

  &__stats-copy {
    margin: 0.5rem;
    color: colours.$secondary-text;
  }

  &__channel-date {
    padding: 0.75rem 0 0.75rem 0rem;

    @include global.tablet {
      display: flex;
    }
  }

  &__channel {
    margin: 0.5rem;
    padding-bottom: 0.5rem;

    @include global.tablet {
      padding-right: 1rem;
    }
  }

  &__views-likes {
    padding: 0.75rem 3rem 0.75rem 0rem;

    @include global.tablet {
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
  }

  &__views-container {
    display: flex;

    @include global.tablet {
      padding-right: 1rem;
    }
  }

  &__likes-container {
    display: flex;
  }

  &__description-container {
    padding: 1rem 1rem;
  }
}
