@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.comment {
  display: flex;
  padding: 0.5rem 0;

  &__avatar-container {
    width: 20%;
    padding: 0 0 0 1rem;

    @include global.tablet {
      width: 10%;
    }

    @include global.desktop {
      width: 9%;
    }
  }

  &__name-date-container {
    display: flex;
    padding-left: 1rem;
    justify-content: space-between;
  }

  &__name {
    font-family: "Avenir Next Bold";
  }

  &__date {
    padding-right: 2rem;
  }

  &__content {
    padding: 0 1rem;
  }

  &__copy {
    margin: 0;
    padding: 0.25rem 0 0.5rem 0;

    @include global.desktop {
      padding-right: 1.5rem;
    }
  }
}
