@use "../../styles/partials/fonts";
@use "../../styles/partials/colours";
@use "../../styles/partials/global";

.avatar {
  display: flex;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;

  &--mobile {
    @include global.tablet {
      display: none;
    }

    @include global.desktop {
      display: none;
    }
  }

  &--tablet-desktop {
    display: none;

    @include global.tablet {
      display: flex;
    }

    @include global.desktop {
      display: flex;
    }
  }
}
