@use "../styles/partials/fonts";
@use "../styles/partials/colours";
@use "../styles/partials/global";

.upload-video {
  padding: 0 1rem;

  @include global.desktop {
    width: 85%;
    margin: auto;
  }

  &__pop-up-title {
    color: colours.$primary-cta;
    font-family: "Avenir Next Bold";
    font-size: 1rem;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    display: none;

    &--show {
      display: block;
    }
  }

  &__title {
    padding: 1rem 0;

    @include global.tablet {
      padding-bottom: 0.5rem;
    }

    @include global.desktop {
      padding-bottom: 0.5rem;
    }
  }

  &__content {
    @include global.desktop {
      display: flex;
      width: 100%;
      padding-top: 1.5rem;
    }
  }

  &__thumbnail-section {
    @include global.desktop {
      width: 30%;
      margin-right: 2rem;
      padding-bottom: 1rem;
    }
  }

  &__thumbnail-title {
    color: colours.$secondary-text;
    padding-bottom: 0.5rem;

    @include global.tablet {
      padding-top: 1rem;
    }
  }

  &__thumbnail {
    width: 100%;
    border-radius: 4px;
    background-color: colours.$divider-line;

    @include global.tablet {
      width: 50%;
    }

    @include global.desktop {
      width: 100%;
    }
  }

  &__form {
    padding: 1rem 0;

    @include global.desktop {
      width: 100%;
      padding-top: 0.75rem;
    }
  }

  &__form-input-container {
    padding-top: 1rem;
    width: 100%;
  }

  &__form-label {
    padding-bottom: 0.75rem;
    font-size: 0.75rem;

    &--desktop {
      padding-top: 0.75rem;
      height: 75%;
    }
  }

  &__form-input {
    padding-left: 0.75rem;
    height: 2.25rem;
    margin-bottom: 0.5rem;
    &--description {
      margin: 0.35rem 0 1rem 0;
      padding: 0.75rem;
      height: 4.5rem;

      @include global.desktop {
        height: 70%;
      }
    }
  }

  &__cancel {
    color: colours.$primary-cta;
    font-family: "Avenir Next Bold";
    font-size: 0.85rem;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    text-decoration: none;

    @include global.tablet {
      padding-right: 4rem;
    }

    @include global.desktop {
      padding-right: 4rem;
    }
  }

  &__footer {
    @include global.tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    @include global.desktop {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
